{% load static %}
<header>
  <div style="display: flex; flex-direction: row; align-items: center">
    <a class="logo" href="{% url 'landing_page' %}">Finnovate Project 2025</a>
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    <img
      src="{% static 'adani_logo.png' %}"
      alt=""
      style="height: 1.2rem; width: auto"
    />
    {% if user.is_authenticated %} 
    {% if user.user_type == 2 or user.user_type == 3 %}
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    <div style="display: flex; flex-direction: column;">
      <span style="font-weight: 500"
        >{{ user.first_name }} {{ user.last_name }}</span
      >
      <span style="font-size: 0.75rem; color: #999; margin-top: 0.1rem">
        {% if user.user_type == 2 %}
        Tower Lead
        {% elif user.user_type == 3 %}
        Finance Controller (BUFC)
        {% endif %}
      </span>
    </div>
    {% endif %}

      {% if user.user_type == 4 %}
          <div
            class="stick-thingy-idk"
            style="font-size: large; color: #999; padding-inline: 1rem"
          >
            |
          </div>
          <div style="display: flex; flex-direction: column;">
            <span style="font-weight: 500"
              >{{ user.first_name }} {{ user.last_name }}</span
            >
            <span style="font-size: 0.75rem; color: #999; margin-top: 0.1rem">
              User
            </span>
          </div>
      {% endif %}

    {% endif %}
  </div>
  <nav style="display: flex; flex-direction: row; align-items: center">
    {% if user.is_authenticated %}
    <a
      href="{% url 'dashboard_page' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Dashboard</a
    >
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    {% if user.user_type == 1 %}
    <a
      href="{% url 'link_data_page' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Link Data</a
    >
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    <a
      href="{% url 'tableau_page' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Tableau</a
    >
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    {% endif %}
    <a
      href="{% url 'gl_reviews_page' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >GL Reviews</a
    >
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    {% if user.user_type == 1 %}
    <a
      href="{% url 'department_management_page' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Department Management</a
    >
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    {% elif user.user_type == 2 %}
    <a
      href="{% url 'team_management_page' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Team Management</a
    >
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    {% endif %}

    <a
      href="{% url 'auth_logout' %}"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Logout</a
    >
    {% else %}
    <a href="#">Docs</a>
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    <a href="#">Prototype</a>
    <div
      class="stick-thingy-idk"
      style="font-size: large; color: #999; padding-inline: 1rem"
    >
      |
    </div>
    <a href="#">Contact</a>
    {% endif %}
  </nav>
</header>
