<header>
  <a class="logo" href="{% url 'landing_page' %}">Finnovate Project 2025</a>
  <nav>
    {% if user.is_authenticated %}
    <a
      href="#"
      style="
        color: var(--subtle);
        text-decoration: none;
        font-weight: 500;
        margin-right: 1rem;
      "
      >Reports</a
    >
    <a
      href="#"
      style="color: var(--subtle); text-decoration: none; font-weight: 500"
      >Logout</a
    >
    {% else %}
    <a href="#">Docs</a>
    <a href="#">Prototype</a>
    <a href="#">Contact</a>
    {% endif %}
  </nav>
</header>
